@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Información de Usuario</title>
    <link href="~/css/header/header.css" rel="stylesheet" />
    <link href="/css/VerUsuarios/VerUsu.css" rel="stylesheet" />
</head>
<body>

  <header class="header container">
       <img src="/Image/Vector.png" alt="">
       <img src="/Image/AluraGeek.png" alt="">
       <img src="/Image/AluraGeek (1).png" alt="">
        <nav>
            <ul class="headerlist-nav">
                <li class="headerlink"><a href="/VerProducto/VerProductos">Store</a></li>
                <li class="headerlink"><a href="/Login_Admin/Login_Admin">Administador</a></li>
            </ul>
        </nav>
    </header>
      
        <main>
            <div>
                  <table id="usuarios">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Gmail</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                   <tbody data-table>
                        <!-- Filas de datos de usuarios
                                     <tr>
                                    <td>1</td>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>johndoe@gmail.com</td>
                                    <td>********</td>
                                    <td>123 Main St</td>
                                    <td>555-1234</td>
                                </tr>
                        -->
           
          
                        <!-- Agrega más filas según sea necesario -->
                   </tbody>
         </table>
            </div>
        </main>

    <footer class="footer_principal">

        <div id="Email" class="contactenos">
            <ul class="ul_rodapie">
                <li>
                    <img src="../Image/AluraGeek.png" alt="">
                    <img src="../Image/AluraGeek (1).png" alt="">
                </li>
                <li>
                    <h1 class="p_contactenos_inicial">Nuestra tienda</h1>
                    <h3 class="p_contactenos">Confianza</h3>
                    <h3 class="p_contactenos">Facilidad</h3>
                    <h3 class="p_contactenos">Seguridad</h3>
                    <h3 class="p_contactenos">Rapidez</h3>
                    <h3 class="p_contactenos">Confortabilidad</h3>
                </li>

                <li>
                    <img id="imagen_footer" src="~/image/online-shopping.jpg" />

                </li>
            </ul>
        </div>

        <div class="div_footer">
            <h2 class="titulo_footer">Desarrollado por un Junior</h2>
        </div>

    </footer>

    <script type="module" src="~/js/controller_js/client_controller.js"></script>
</body>
</html>


