
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <style>

        body {
            
            background-color: #617aad;
            background-image: url("https://www.transparenttextures.com/patterns/wet-snow.png");
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;

        }
        header {                        
 
           
            background-image: url('imagenes_page/bg.png');
            background-position: center bottom;
            background-repeat: no-repeat;
            backgroud-size: cover;
            color: white;
            text-align: center;
            padding: 1rem;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 2rem;
        }
        .about-content {
            line-height: 1.6;
        }
        .general{
            padding: 30px 30px 0 30px;
            text-align:center;
        }
        .general-content{
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        .info-testi{
            padding-top:100px;
            text-align: center;
        }

        .info-2{
            padding: 200px 30px;
            background-size: cover;
            margin-top: -180px;            
        }

        .testi-txt img{
            width: 150px;
        }
        




    </style>
    <link rel="stylesheet" href="stylenosot.css" />
</head>

<body>
    <header class="header">

        <div class="menu container">

            <img src="~/imagenes_page/logocolorsmall.png" class="menu-icono" />
           
        </div>

        <div class="header-content container">

            <h1> AluraGeek  </h1>
            <h2> Nuestra Empresa </h2>

            <p>
                Somos una empresa costarricense encargada de ofrecer un servicio de enlace de compra y venta de productos 
                para empresas y comerciantes independientes.
                Ofrecemos una alta protección a los de nuestros clientes.
            </p>

        </div>


    </header>
   

    <section class="general container">
        <h2>Nuestro Equipo:</h2>
        <div class="general-content">
            <div class="general-1 txt">
                <h3>Dilan Quiros Chinchilla.</h3>

            </div>
            <div class="general-2 txt">
                <h3>Emmanuel Valenciano Zeledón.</h3>

            </div>
            <div class="general-3 txt">
                <h3>Brenda Santamaria Zarate.</h3>

            </div>
        </div>
    </section>

    <section class="info-testi">
        <h2> <b>Testimonios de nuestros usuarios vendedores.</b> </h2>
    </section>

    <section class="info-2">

        <div class="info-content container">

            

            <div class="testi">

                <div class="testi-left">
                    <div class="testi-txt">
                        <img src="~/imagenes_page/monica.png" />
                        <h3>Monica Bustos </h3>
                        <p>
                            <b>
                            "Gracias a AluraGeek, mi negocio personal es ahora una PYMES, que ha alcanzado zonas remotas del
                            pais y genera gran confianza a mis nuevos clientes."
                            </b>
                        </p>
                    </div>
                    <div class="testi-txt">
                        <img src="~/imagenes_page/alexander.png" />
                        <h3>Alexander Bermudez </h3>
                        <p>
                            <b>
                            "Gracias a Alura, he podido adaptar mi negocio a esta nueva era tecnologica. En combinacion
                            con mis redes soociales, el mercado meta de mi empresa crecio expotencialmente."
                            </b>
                        </p>
                    </div>
                </div>

                <div class="testi-right">
                     <div class="testi-txt">
                        
                        <img src="~/imagenes_page/johanna.png" />
                        <h3>Johanna Keith </h3>
                        <p>
                            <b>
                            "AluraGeek has welcomed my bussiness in this whole new country making me feel as if I was back home""
                            </b>
                        </p>
                    </div>
                </div>

            </div>

        </div>


    </section>

    
    <footer class="footer container">

        <h2>¡Siempre al servicio de nuestros clientes!</h2>


        <div class="footer-imagen">
         <img />
           
            <img src="~/imagenes_page/logonamefooter.jpg" />
            <img src="c:\users\dilan quiros\source\repos\proyecto_page\imagenes\logonamefooter.jpg" />

        <p>
            En AluraGeek continuamos trabajando arduamente para expandir nuestras operaciones a nivel centroamericano.<br />
            Actualmente, nuestras operaciones se centran unicamente en Costa Rica.<br />
            Sigue atento a nuestras actualizaciones con respecto a nuestra expancion operativa. ¡Pronto tendremos nuevas sorpresas!
        </p>

            
        </div>

    </footer>


</body>
</html>